//COLORS
$color-primary: #3dbe71;
$color-primary-light:#5db380;
$color-secondary: #17015d;
$color-tertiary:#e3a396;

$color-font-1:#504f4f;
$color-font-2:#909090;


$color-black:#000;
$color-white: #ffffff;

