.header{

  min-height: 8rem;


  //background-color: blue;

  position:relative;

  display: flex;
  justify-content: space-around;
  align-items: center;


  &__social-search{
    width: 10rem;
    //background-color: pink;
    position: absolute;
    right: 10%;
    top: 2%;


    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  &__logo{
   // background-color: purple;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      left: 10%;
    }

    @media only screen and (max-width: 768px) {
      left: 15%;
    }

  }



}