.btn{

    padding: 1.25rem 3rem;
    //height: 2.5rem;
    //width: 6rem;
    text-transform: uppercase;
    border-radius: 5rem;
    background-color:#3dbe71;
    color:#fff;
    border:none;
    font-size: .7rem;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;

    transition: all .2s ease-in;

    span{
      position: absolute;
      left: 50%;
      top:50%;

      transform: translate(-50%,-50%);
      opacity: 1;
      transition: all .2s ease-in;

      &:last-child{
        top:100%;
        transform: translate(-50%,0);
        opacity: 0;
      }
    }




  &:hover,
  &:active{
    background-color: #5db380;

    span {
      opacity: 0;

      &:last-child{
        top:50%;
        transform: translate(-50%,-50%);
        opacity: 1;
      }

    }


  }

  &--big{
    padding: 1.5rem 7rem;
    font-size: .9rem;
  }

  &--pink{
    background-color: rgba(#ee4266,.7);
  }

  &--purple{
    background-color: rgba(#540d6e, .7);
  }



}