.btn{
    text-transform: uppercase;
    padding: .8rem 2rem;
    border-radius: 5rem;
    background-color:#3dbe71;
    color:#fff;
    border:none;
    font-size: .7rem;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;

    transition : all .3s ease-out;

  &::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0;

    background-color: rgba(255 , 255 , 255 , .2);



    transition : all .3s ease-in-out;
  }


  &:hover,
  &:active{
    transform: scaleX(1.1);

    &::before{
      transform: scale(12);
      opacity: 1;
    }
  }


  &--big{
    padding: 1rem 3rem;
    font-size: .9rem;
    letter-spacing: 1px;
  }

}