.navigation{
  position: relative;

  //background-color: orange;

  flex-basis: 90%;


  @media only screen and (max-width: 1000px) {
    flex:1;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  //justify-content: flex-end;




  &__checkbox{
    display: none;
  }

  &__button{
    visibility: hidden;
    position: absolute;

    top: 50%;
    right:0;
    transform: translate(-50%,-50%);

    cursor: pointer;
    border-radius: 2px;
    background-color: $color-primary;


    padding: 4px;

    height: 2rem;
    width: 2.5rem;



    @media only screen and (max-width: 768px) {

      visibility: visible;
    }





  }

  &__icon{
    display: block; // sonra eklenecek
    width:1.4rem;
    height: 2.5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $color-white;








    &::before,
    &::after{
      content: "";
      position: absolute;
      display: block;
      width:1.4rem;
      height: 2.5px;
      background-color: $color-white;


    }

    &::before{
      top: -6px;
    }
    &:after{
      top:6px;
    }





  }


  .nav-top{
    list-style: none;
  //  background-color: red;
    width: 75%;


    display: flex;
    justify-content: space-between;
    align-items: center;


    @media only screen and (max-width: 1000px) {
      width: 80%;

    }

    @media only screen and (max-width: 768px) {
      display: none;

    }

    &__list{
      // background-color: blue;

      flex: 0 0 80%;


      list-style: none;

      display: flex;
      justify-content: space-around;
      align-items: center;

      transition: all .5s;

      @media only screen and (max-width: 1000px) {
        justify-content: space-between;

      }
    }

    &__link{
      transition: all 1s;
      position: relative;


      &::after{
        content:"";
        position: absolute;
        left:0;
        bottom:-3px;
        width:0;
        height: 3px;
        background-color: $color-primary;

        transition: all .2s ease-in;
      }


      &:visited,
      &:link {
        font-size: .8rem;
        color: rgba($color-black,.7);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;



      }


      &:hover,
      &:active{
        &::after{
          width: 100%;
        }

      }

    }


  }

  .nav-bottom{
    visibility: hidden;// sonradan eklenecek
    position: absolute;
    left: 0;
    top: 2rem;
    z-index: 100;

    width: 100%;
    height: 24rem;
    padding: 2rem 0;

    background-color: rgba(black,.5);

    @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {

    -webkit-backdrop-filter: blur(8 px);
    backdrop-filter: blur(8px);
    background-color: rgba(black,.4);
  }




    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px 2px rgba($color-black, .2);





    &__list{

     width: 100%;

     list-style: none;


      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

    }

    &__link{
      &:link,
      &:visited{

        font-size: 1.2rem;
        display: block;

        text-decoration: none;
        color:$color-white;
        padding: .5rem 0;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      &:hover,
      &:active{
        color:$color-secondary;
        font-weight: 700;

      }
    }



  }










 &__checkbox:checked ~ .nav-bottom{
   display: flex;

   animation: anim-nav .4s ease-in .2s;
   animation-fill-mode: forwards;

 }
  &__checkbox:checked + &__button &__icon{
    animation: nav-icon .3s;
    animation-fill-mode: forwards;
  }


  &__checkbox:checked + &__button &__icon::before{

    animation: nav-icon-before .5s;
    animation-fill-mode: forwards;

  }
  &__checkbox:checked + &__button &__icon::after{
    animation: nav-icon-after .5s;
    animation-fill-mode: forwards;


  }



}

