.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.contactus{
  align-self: center;
  width: 80%;
  height: calc(100vh - 8rem);
  //height: 40rem;


  //background-color: red;


  display: flex;
  justify-content: center;
  align-items: center;


  &__left{
    flex:0 0 60%;
    height:90%;

    display: flex;
    align-items: flex-start;
    //background-color: yellow;
  }
  &__right{
    flex:0 0 40%;
    height: 90%;



    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //background-color: #3dbe71;


  }

}

